.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.homeTitle{
    width: 1024px;
    font-size: 30px;
    color: rgb(105, 43, 43);
    font-family: sans-serif;
    font-weight: bold;
}