.footer{
    width: 100%;
    max-width: 1024px;
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fList{
    list-style: none;
    padding: 0;
}
.fListItem{
    cursor: pointer;
    color: #003580;
    margin-bottom: 10px;
}
.fListItem:hover{
    color: gray;
}
.fText{
    color: gray;
    text-align: center;
}